<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<title>Mugin</title>
		<script type="text/javascript" src="/js/mugin.js"></script>
	</head>
	<body>

		<h1>mugin</h1>
		<p>Say goodby to passwords. And use your mug to login.</p>
		<canvas id="mugin-photo"></canvas>
		<form novalidate onsubmit="return false;">
			<video id="mugin-video" autoplay>
				<p>Snap. Your browser does not support Mugin</p>
			</video>
			<lable>First Name
				<input class="btn btn-default">
			</lable>
			<lable>Last Name
				<input class="btn btn-default">
			</lable>
			<lable>Email Address
				<input class="btn btn-default">
			</lable>
			<lable>Email Address (Confirm)
				<input class="btn btn-default">
			</lable>
    		<button id="mugin-register" class="btn btn-default">
    			Sign Up
    		</button>
    		<a href="/" class="btn btn-default">
    			Cancel
    		</a>
		</form>
    	
		<script>

			// Create new mugin via constructor method
			var myMugin = new Mugin;
			
			// Add method to set image via prototype 
			Mugin.prototype.setImage = function(uri, height, width){
				/* 
				 * Users data is updated on the front-end, no need append to storage.
				 * Store a clean JSON object each time a new user is added.
				*/
				var jsonUserData = JSON.stringify({
					location : uri,
					height : height,
					width : width
				});
				if(!window.localStorage.getItem('dataStore')){
					// Write the object to localStorage
					window.localStorage.setItem("dataStore", jsonUserData);
				}
				else{
					window.localStorage.removeItem("dataStore");
					window.localStorage.setItem("dataStore", jsonUserData);
				}
			};

			// Add image to UI 
			Mugin.prototype.drawImage = function(URI, width, height){

				// Add image (stub for fallback)
				function insertImg(URI){
					/*
					*	Add image to UI via img element and src attribute
					*/
					var photo = document.getElementById('mugin-photo');
					
					// Create new image
					var userImage = new Image();
					userImage.src = URI; 

					// Add into DOM
					photo.parentNode.insertBefore(userImage, photo);
				}
					
				function insertCanvas(URI){
					/*
					* Add image to UI via canvas element
					*/	

					// Create new image
					var userImage = new Image(width, height);
					userImage.src = URI;
					
					// Setup event listener, wait for image to load
					userImage.onload = function () {
						
						// Get the photo element
						var photo = document.getElementById('mugin-photo');
						
						// Set image ratio attribute(s)
						photo.setAttribute('width', 640);
						photo.setAttribute('height', 480);

						// Draw the image
						var context = photo.getContext('2d');
						context.drawImage(userImage, 0, 0);
					};
				}
				
				insertCanvas(URI);
			}

			// Add method to get stored image via prototype
			Mugin.prototype.getImage = function(){
				/*
				* Check for stored user image and add to UI.
				*/
				var localData = window.localStorage.getItem('dataStore');
				
				if(localData){

					// create photo from local storage
					var localStore = JSON.parse(localData);
					var width = localStore.width;
					var height = localStore.height;
					var URI = localStore.location;

					Mugin.prototype.drawImage(URI, width, height);	
					
				}
			};

			// Get stored mug and capter new one too.
			window.onload = function(){
				myMugin.go();
				myMugin.getImage();
			}
			
			// Register event listener and function to do the magic
			var submitBtn = document.getElementById('mugin-register');
			submitBtn.onclick = function(){
				
				var video = document.getElementById('mugin-video');
				var photo = document.getElementById('mugin-photo');
				
				// get intrinsic 
				// https://html.spec.whatwg.org/multipage/embedded-content.html#the-video-element
				var height = video.videoWidth;
				var width = video.videoHeight;
				var ratio = video.videoHeight / (video.videoWidth/width);

				// create photo from video
				var context = photo.getContext('2d');
				context.drawImage(video, 0, 0);

				// Encoding photo data into base64 format
				var photoURI = photo.toDataURL('image/png');
				
				// Store said photo
				myMugin.setImage(photoURI, height, width);
			};
		
		</script>
	</body>
</html>